

<div class="card">
    <div class="card-body">
        <div *ngIf="userForm">

            <form [formGroup]="userForm">
            <div class="col form-group">
                    <label for="firstName">First Name</label>
                    <span class="text-danger"
                    *ngIf="userForm.get('firstName')?.errors && 
                    userForm.get('firstName')?.hasError('required')"
                    >
                        *
                    </span>
                    <input
                    class="form-control"
                    placeholder="First name"
                    id="firstName"
                    formControlName="firstName"
                    [class.valid]="userForm.get('firstName')?.valid && 
                    userForm.get('firstName')?.dirty || 
                    userForm.get('firstName')?.touched"
                    [class.invalid]="userForm.get('firstName')?.invalid && 
                    userForm.get('firstName')?.dirty || 
                    userForm.get('firstName')?.touched"
                />
            </div>
        
            <div class="col form-group">
                <div class="row">
                <div class="col" >
                    <label for="lastName">Last name</label>
                    <span class="text-danger"
                    *ngIf="userForm.get('lastName')?.errors && 
                    userForm.get('lastName')?.hasError('required')"
                    >
                        *
                    </span>            
                    <input
                    class="form-control"
                    placeholder="Last name"
                    id="lastName"
                    formControlName="lastName"
                />
                </div>
                </div>
            </div>
            
            <div class="col form-group">
                <div class="row">
                <div class="col">
                    <label for="phoneNumber">Phone number</label>
                    <span class="text-danger"
                    *ngIf="userForm.get('phoneNumber')?.errors && 
                    userForm.get('phoneNumber')?.hasError('required')"
                    >
                        *
                    </span>              
                    <input
                    class="form-control"
                    placeholder="Phone number"
                    id="phoneNumber"
                    formControlName="phoneNumber"
                />
                </div>
                </div>
            </div>
            
            <div class="col form-group">
                <div class="row">
                <div class="col">
                    <label for="email">Email</label>
                    <span class="text-danger"
                    *ngIf="userForm.get('email')?.errors && 
                    userForm.get('email')?.hasError('required')"
                    >
                        *
                    </span>              
                    <input
                    class="form-control"
                    placeholder="Email"
                    id="email"
                    formControlName="email"
                />
                </div>
                </div>
            </div>    
        
            <div class="row">
                <div class="col-8">
                </div>
                <div class="col-2">
                    <span class="sr-only" *ngIf="!loading">Loading...</span>
                    <button type="submit" (click)="onSubmit()" 
                    [disabled]="!userForm.valid || loading"
                    class="btn btn-primary btn-sm mb-3">Confirm</button>
                </div>

            </div>
            </form>
        </div>
        
    </div>
</div>

